{% extends "admin/base_site.html" %}

{% load i18n crispy_forms_tags admin_urls %}

{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
        <li><a href="{% url 'admin:app_list' app_label='extra_tables' %}">{% trans "Extra tables" %}</a></li>
        <li><a href="{% url 'admin:extra_tables_species_changelist' %}">{% trans "Species" %}</a></li>
        <li>{{ title }}</li>
    </ul>
{% endblock %}


{% block content %}
    <h2 style="padding-bottom: 20px">Taxa belonging to the chosen classes will be loaded into Species table.</h2>
    <form method="post" action="#">
        {% crispy form %}
        <fieldset>
            <button type="submit" class="btn btn-primary" style="margin: 20px 0; width: 80px; background-color: #309bbf">
                {% trans "Import" %}
            </button>
        </fieldset>
    </form>
{% endblock %}
