{% load i18n %}
<div class="panel-footer form-inline">
  <div class="form-group">
    {% trans "Total" %}: <strong>{[{ data.total }]}</strong> |
    {% trans "Filtered" %}: <strong>{[{ data.pagination.count }]}</strong> |
    {% trans "Selected" %}: <strong>{[{ data.selectedCounter }]}</strong>
  </div>
  {% include 'common/pagination.html' %}
</div>
