{% load i18n %}
<div
   class="container"
   ng-controller="GridController"
   ng-init="load('{{ grid_context.data_url }}')">
  {% block breadcrumbs %}
  {% endblock %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{% trans "Filters" %}</h2>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          {% block filters %}
          {% endblock %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <button
             type="button"
             class="btn btn-success"
             ng-click="load(data.request.url, {}, true)"
             >
            <span class="fa fa-search"></span> {% trans "Filter" %}
          </button>

          <!-- ng-click="filterOwner()" -->

          {% block my_objects %}
          {% if user.is_authenticated %}
          <button
             type="button"
             title="{% trans "When switched-on the grid displays only these items that you can edit." %}"
             class="btn btn-default"
             ng-class="{ active: filters.owner }"
             ng-model="filters.owner"
             ng-init="filters.owner = false"
             ng-click="filterOwner()"
             filter-checkbox="{ name: 'owner', value: '{{ user.pk }}' }"
             filter-service="filter">{% trans "My" %} {{ grid_context.model_name }}
          </button>
          {% endif %}
          {% endblock %}

          <span class="label label-info pull-right" ng-show="map_filters_applied">{% trans "Map filters applied" %}</span>
        </div>

        <div class="col-md-7">
          <div class="btn-selects">
            <button
               type="button"
               class="btn btn-warning"
               ng-click="filter.clearFilters()">{% trans "Clear filters" %}
            </button>
            <button
               type="button"
               class="btn btn-warning"
               ng-click="load(data.request.url, {clear_cache: true}, true)">{% trans "Clear cache" %}
            </button>
            <button type="button" class="btn btn-default" ng-click="selectPage()" ng-disabled="data.pagination.count == 0">
              {% trans "Select page" %}
            </button>
            <button type="button" class="btn btn-default" ng-click="selectAllFiltered()" ng-disabled="data.pagination.count == 0">
              {% trans "Select filtered" %}
            </button>
            <button type="button" class="btn btn-danger" ng-disabled="!data.selectedCounter" ng-click="clearSelection()">
              {% trans "Clear selections" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Search" %}</h2>
        </div>

        <div class="panel-body input-group">
          <input
             class="form-control"
             type="text"
             placeholder="{% trans "What are you looking for?" %}"
             filter-search="$"
             ng-model="filters.search"
             filter-service="filter"
             ng-enter="load(data.request.url, {}, true)"
             >
          <span class="input-group-btn">
            <button
               class="btn btn-default"
               ng-click="load(data.request.url, {}, true)"
               >
              <span class="fa fa-search"></span>  {% trans "Search" %}
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Actions" %}</h2>
        </div>
        <div class="panel-body">

          {% block custom_actions %}
          {% endblock %}

          {% if user.is_authenticated %}
          <div class="btn-group pull-right">
            <button
               type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              {% trans "More" %} <span class="fa fa-angle-down"></span>
            </button>
            <ul class="dropdown-menu">

              {% block custom_actions_list %}
              {% endblock %}

            </ul>
          </div>
          {% endif %}

        </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default" ng-cloak>
    <div class="panel-heading">
      <h2 class="panel-title" style="display:inline;">{{ grid_context.model_name|capfirst }}</h2>
      <div class="form-group pull-right">
        {% trans "Total" %}: <strong>{[{ data.total }]}</strong> |
        {% trans "Filtered" %}: <strong>{[{ data.pagination.count }]}</strong> |
        {% trans "Selected" %} <strong>{[{ data.selectedCounter }]}</strong>
      </div>
    </div>

    <table id="lightgallery" class="table table-striped table-rich table-hover" ng-hide="error">
      <thead class="ng-scope">
        <tr class="ng-scope">
          <th
             ng-repeat="column in columns['{{grid_context.model_name.split|join:"_"}}']"
             title="{[{ column }]}"
             {% block exclude_column_headers %}
             {% endblock %}
             class="header ng-scope sortable">

{#          for sortable columns show link, for others show regular header #}
              {% if grid_context.sortable %}
                  <div ng-if="{{ grid_context.sortable }}.includes(column.toLowerCase())">
                      <div class="ng-table-header ng-scope">
                          <a ng-click="orderRecords(column.toLowerCase())">{[{ column }]}</a>
                      </div>
                  </div>
                  <div ng-if="!{{ grid_context.sortable }}.includes(column.toLowerCase())">
                      <div class="ng-table-header ng-scope">
                          {[{column}]}
                      </div>
                  </div>
              {% else %}
                  <div class="ng-table-header ng-scope">
                      {[{ column }]}
                  </div>
              {% endif %}
          </th>
        </tr>
      </thead>

      <tr ng-show="status.error">
        <td colspan="20">
          <div class="alert alert-danger" ng-bind-html="listStatuses.error"></div>
        </td>
      </tr>

      <tr ng-show="status.loading">
        <td colspan="20">
          <div class="alert alert-info" ng-bind-html="listStatuses.loading"></div>
        </td>
      </tr>

      <tr ng-show="status.deleting">
        <td colspan="20">
          <div class="alert alert-danger" ng-bind-html="listStatuses.deleting"></div>
        </td>
      </tr>

      <tr ng-show="!status.loading && !data.records.length && !status.error">
        <td colspan="20">
          <div class="alert alert-warning" ng-bind-html="listStatuses.empty"></div>
        </td>
      </tr>

      <tr
        ng-repeat="record in data.records track by record.pk"
        ng-click="select($event, record)"
        ng-class="{'selected': record.$selected || data.selected_all_filtered.indexOf(record.pk) > -1}">

        {% block table_cells %}
        {% endblock %}

        <td data-title="'Actions'">
          <div class="btn-group" style="display: flex;">
          {% block table_cells_actions %}

          {% if not grid_context.hide_detail %}
	  <a href="{[{ record.detail_data }]}" class="btn btn-default" title={% trans "Details" %}><span class="fa fa-search"></span></a>
          {% endif %}
          {% if not grid_context.hide_update %}
          <action-update ng-if="record.update_data" ng-click="execute($event, record, {{ grid_context.update_redirect }})"></action-update>
          {% endif %}
          {% if not grid_context.hide_delete %}
          <action-remove ng-if="record.delete_data" ng-click="execute($event, record)"></action-remove>
          {% endif %}

          {% block table_cells_extra_actions %}
          {% endblock %}
          </div>
          {% endblock %}
        </td>
      </tr>
    </table>
    {% include "common/footer.html" %}
  </div>
</div>
