{% extends "common/base_mail_template.html" %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
    {% blocktranslate with team_leader_full_name=team_leader.get_full_name %}
        <h2 class="align-center">"{{ team_name }}" team leader invites you</h2>
        <p class="align-center">You have been invited by {{ team_leader_full_name }} ({{ team_leader }}). Join to the team to have the access to more resources.</p>
        <p class="align-center"><strong>Team name:</strong> {{ team_name }}</p>
        <p class="align-center"><strong>Description:</strong> {{ description }}</p>
    {% endblocktranslate %}
    {% if motivation %}
        {% blocktranslate %}<p class="align-center">Message from the leader:</p>{% endblocktranslate %}
        <p class="align-center">{{ motivation }}</p>
    {% endif %}
    <p class="align-center"><a href="https://{{ domain }}{% url 'member_approve_invitation' cp_slug team_id %}?token={{ user_id_token }}&key={{ team_membership_id_token }}" target="_blank" class="button">{% translate "Accept invitation" %}</a></p>
    <p class="align-center"><a href="https://{{ domain }}{% url 'member_reject_invitation' cp_slug team_id %}?token={{ user_id_token }}&key={{ team_membership_id_token }}" target="_blank" class="reject">{% translate "Reject invitation" %}</a></p>
    {% endautoescape %}
{% endblock %}
