{% extends "index.html" %}

{% load static %}
{% load common_tags %}

{% block main_menu %}{% nav_active 'menu_geomap' %}{{ block.super }}{% endblock main_menu %}

{% block scripts_prepend %}
<script src="{% static "umap/vendors/leaflet/leaflet-src.js" %}"></script>
<script src="{% static "umap/vendors/markercluster/leaflet.markercluster-src.js" %}"></script>
<script src="{% static "umap/vendors/label/leaflet.label-src.js" %}"></script>
<link rel="stylesheet" href="{% static "umap/vendors/leaflet/leaflet.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/markercluster/MarkerCluster.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/markercluster/MarkerCluster.Default.css" %}" />
<link rel="stylesheet" href="{% static "umap/vendors/label/leaflet.label.css" %}" />
{% endblock scripts_prepend %}

{% block scripts_append %}
{% endblock scripts_append %}


{% block content %}
  {% block section_content %}{% endblock section_content %}
{% endblock content %}
