{% load i18n common_tags %}

{% if ai_classifications %}
    <table class="table classification-box">
        <tbody>
        {% if classification.status_ai %}
            <tr>
                <td colspan="3">
                    <h4>{% trans "This resource has classification " %}
                        <strong>{% trans "approved" %}</strong> {% trans "by" %}
                    </h4>
                </td>
            </tr>
            <tr class="success">
                <td>
                    <span class="fa fa-user"></span>
                    <a href="{% url 'accounts:show_profile' classification.approved_ai_by.username %}">
                        {{ classification.approved_ai_by|pretty_username }}
                    </a>
                    {% trans "at" %} {{ classification.approved_ai_at|date:"d.m.Y H:i:s" }} <br>
                    {% trans "The source (AI) classification is marked in green below." %}
                </td>
                <td>
                    {% if classification.approved_ai_at < classification.approved_ai_source.updated_at %}
                        {% blocktrans trimmed asvar ng_click %}
                            The source AI classification (by
                            <strong>{{ classification.approved_source_ai.owner|pretty_username }}</strong>) was changed.
                            Consider approving it one more time.
                        {% endblocktrans %}
                        <action-warning ng-click="execute($event, '{{ ng_click }}')"></action-warning>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"><h4>{% trans "This resource has no approved AI classification yet" %}</h4></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <table class="table classification-box">
        <thead>
        <tr>
            <td colspan="3"><h4>{% trans "AI classifications" %}</h4></td>
        </tr>
        <tr>
            <th>{% trans "Date updated" %}</th>
            <th>{% trans "AI provider" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for classification_item in ai_classifications %}
            <tr {% if classification.approved_source_ai.pk == classification_item.pk %} class="success" {% endif %}
                    {% if is_ai_classification_view and classification_item.pk == ai_classification.pk %}
                                                                                        style="border: 3px solid; border-color: green; border-right: 0 none; border-left: 0 none;"{% endif %}>
                <td>{{ classification_item.updated_at|date:"d.m.Y H:i:s" }}</td>
                <td>{{ classification_item.model.name }}</td>
                <td>
                    {% if classification_item.can_view %}
                        <a href="{% url 'media_classification:view_ai_classification' pk=classification.pk ai_provider_id=classification_item.model_id %}"
                           class="btn btn-xs btn-default"
                           title="Display">
                            <span class="fa fa-search"></span>
                        </a>
                    {% endif %}

                    {% if classification.can_approve %}
                        <a href="{% url 'media_classification:approve_ai_classification' ai_classification_id=classification_item.pk %}"
                           class="btn btn-xs btn-primary btn-approve-ai"
                           title="Approve">
                            <span class="fa fa-check"></span>
                        </a>
                    {% endif %}
                    {% if classification_item.can_delete %}
                        <a href="{% url 'media_classification:ai_classification_delete' pk=classification_item.pk %}"
                           class="btn btn-xs btn-danger btn-delete"
                           title="Delete">
                            <span class="fa fa-trash-o"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% else %}
    <div class="alert alert-warning ng-binding"><span
            class="fa fa-info"></span> {% trans "This resource has no AI classifications." %}</div>
{% endif %}
