{% extends "media_classification/index.html" %}

{% load static %}
{% load common_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block data_app %}classification::bboxannotator{% endblock %}
{% block ng_app %}ng-app="trapperGrid"{% endblock ng_app %}

{% block scripts_append %}
<script src="{% static 'js/bbox-annotator.js' %}"></script>
{% endblock scripts_append %}

{% block section_content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="fa fa-globe"> </span>
	<a href="{% url 'geomap:deployment_detail' pk=resource.deployment_id %}">{{ resource.deployment }}</a> >
        <span class="fa fa-file-{{ resource.get_resource_type_display|lower }}-o"> </span>
	<a href="{% url 'storage:resource_detail' pk=resource.pk %}">{{ resource.name }}</a> >
	<span class="fa fa-cubes"> </span>
	<a href="{% url 'media_classification:classify' pk=classification.classification.pk|default:classification.pk %}">
	  <strong>Classification</strong>
	</a>
      </div>
      <div class="panel-body">
	<table class="table">
          <thead>
            <tr>
	      <th>{% trans "Label" %}</th>
              <th>{% trans "Observation" %}</th>
              <th>{% trans "Species" %}</th>
	      <th>{% trans "Age" %}</th>
	      <th>{% trans "Sex" %}</th>
	      <th>{% trans "Count" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for observation in dynamic_attrs %}
            <tr>
	      <td><span class="label label-success">{{ observation.label }}</span></td>
              <td><span class="label label-warning">{{ observation.observation_type }}</span></td>
	      <td><span class="label label-warning">{{ observation.species.english_name }}</span></td>
	      <td><span class="label label-default">{{ observation.age }}</span></td>
	      <td><span class="label label-default">{{ observation.sex }}</span></td>
	      <td><span class="label label-primary">{{ observation.count }}</span></td>
            </tr>
            {% empty %}
            <tr>
              <td class="alert alert-warning ng-binding" colspan="5">
		<span class="fa fa-info"></span> {% trans "No observations available." %}</td>
            </tr>
            {% endfor %}
          </tbody>
	</table>	
        <div
          id="bbox_annotator"
          data-url="{{ resource.get_url }}"
          data-objects="{{ classification.bboxes|pretty_json }}"
	  data-labels="{{ labels_ids }}"
          data-method="{{ input_method }}"
          data-width="{{ img_width }}"
          data-height="{{ img_height }}">
        </div>
      </div>
      <div class="panel-footer">
	<form action="" method="post" enctype="multipart/form-data" class="panel-body">
          {% crispy form form.helper %}
          <fieldset>
	    <a class="btn btn-danger btn-delete" id="reset_button">Reset</a>
            <button type="submit" name="save" value="save" class="btn btn-primary">{% trans "Save" %}</button>
	    <button type="submit" name="next" value="next" class="btn btn-primary">{% trans "Next" %}</button>
          </fieldset>
	</form>

      </div>
    </div>
  </div> 
  </div>
</div>

{% endblock section_content %}
