{% load i18n %}

{% if user_classifications %}
    <table class="table classification-box">
        <tbody>
        {% if classification.status and classification.approved_by %}
            <tr>
                <td colspan="3">
                    <h4>{% trans "This resource has classification " %}
                        <strong>{% trans "approved" %}</strong> {% trans "by" %}
                    </h4>
                </td>
            </tr>
            <tr class="success">
                <td>
                    <span class="fa fa-user"></span>
                    <a href="{% url 'accounts:show_profile' classification.approved_by.username %}">
                        {{ classification.approved_by|pretty_username }}
                    </a>
                    {% trans "at" %} {{ classification.approved_at|date:"d.m.Y H:i:s" }} <br>
                    {% trans "The source (user) classification is marked in green below." %}
                </td>
                <td>
                    {% if classification.approved_at < classification.approved_source.updated_at %}
                        {% blocktrans trimmed asvar ng_click %}
                            The source classification (by
                            <strong>{{ classification.approved_source.owner|pretty_username }}</strong>) was changed.
                            Consider approving it one more time.
                        {% endblocktrans %}
                        <action-warning ng-click="execute($event, '{{ ng_click }}')"></action-warning>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"><h4>{% trans "This resource has no approved classification yet" %}</h4></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <table class="table classification-box">
        <thead>
        <tr>
            <td colspan="3"><h4>{% trans "User classifications" %}</h4></td>
        </tr>
        <tr>
            <th>{% trans "User" %}</th>
            <th>{% trans "Date updated" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for classification_item in user_classifications %}
            <tr {% if classification.approved_source.pk == classification_item.pk %} class="success" {% endif %}
            {% if is_user_classification_view and classification_item.pk == user_classification.pk %}
                                                                                     style="border: 3px solid; border-color: green; border-right: 0 none; border-left: 0 none;"{% endif %}>
                <td>
                    <span class="fa fa-user"></span>
                    <a href="{% url 'accounts:show_profile' classification_item.owner.username %}">{{ classification_item.owner|pretty_username }}</a>
                </td>
                <td>{{ classification_item.updated_at|date:"d.m.Y H:i:s" }}</td>
                <td>
                    {% if classification_item.can_view %}
                        <a href="{% url 'media_classification:classify_user' pk=classification.pk user_pk=classification_item.owner.pk %}"
                           class="btn btn-xs btn-default"
                           title="Display">
                            <span class="fa fa-search"></span>
                        </a>
                    {% endif %}
                    {% if classification_item.can_update %}
                        <a href="{% url 'media_classification:classify_user' pk=classification.pk user_pk=classification_item.owner.pk %}"
                           class="btn btn-xs btn-default"
                           title="Update">
                            <span class="fa fa-pencil"></span>
                        </a>
                        <a
                                href="{% url 'media_classification:classify_bbox_user' user_classification_pk=classification_item.pk %}"
                                class="btn btn-xs btn-success"
                                title="Draw/edit bounding boxes"
                                target="_blank">
                            <span class="fa fa-hand-pointer-o"></span>
                        </a>
                    {% endif %}
                    {% if classification.can_approve %}
                        <a href="{% url 'media_classification:classify_approve' pk=classification_item.pk %}"
                           class="btn btn-xs btn-primary btn-approve"
                           title="Approve">
                            <span class="fa fa-check"></span>
                        </a>
                    {% endif %}
                    {% if classification_item.can_delete %}
                        <a href="{% url 'media_classification:user_classification_delete' pk=classification_item.pk %}"
                           class="btn btn-xs btn-danger btn-delete"
                           title="Delete">
                            <span class="fa fa-trash-o"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if classification.status and not request_user_classification %}
        <h4 style="padding-left: 15px">{% trans "You can still add your own classification." %}
            </a>
        </h4>
    {% endif %}


{% else %}
    <div class="alert alert-warning ng-binding"><span
            class="fa fa-info"></span> {% trans "This resource has not been classified yet." %}</div>
{% endif %}
