{% extends "media_classification/index.html" %}

{% load common_tags %}
{% load user_comments %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block data_app %}{% if is_readonly %}classification::preview{% else %}classification::classify{% endif %}{% endblock data_app %}

{% block ng_app %}ng-app="trapperGrid"{% endblock ng_app %}

{% block scripts_append %}
{% endblock scripts_append %}

{% block section_content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="fa fa-flask"></span> <a
                        href="{% url 'research:project_detail' pk=project.research_project.pk %}">{{ project.research_project.acronym }}</a>
                    >
                    <span class="fa fa-cubes"></span> <a
                        href="{% url 'media_classification:project_detail' pk=project.pk %}">{{ project.name }}</a>
                    >
                    <span class="fa fa-database"></span> <a
                        href="{% url 'storage:collection_detail' pk=storage_collection.pk %}">{{ storage_collection.name }}</a>
                    >
                    {% if resource.deployment %}
                    <span class="fa fa-globe"></span>
                    <a
                        href="{% url 'geomap:deployment_detail' pk=resource.deployment_id %}">{{ resource.deployment }}</a>
                    >
                    {% endif %}
                    <span class="fa fa-file-{{ resource.get_resource_type_display|lower }}-o"></span> <a
                        href="{% url 'storage:resource_detail' pk=resource.pk %}"><strong>{{ resource.name }}</strong></a>
                </h2>
            </div>
        </div>
    </div>
</div>

<div ng-controller="SequenceController"
    ng-init="load('{% url "media_classification:api-classification-resources-list" collection.pk %}?current={{ resource.pk }}&project={{ project.pk }}', '{% url "media_classification:api-sequence-list" %}?collection={{ collection.pk }}', {{ collection.pk }}, {{ resource.pk }})">
    <!-- res, seq, current resource pk, collection_pk !-->

    {% include 'media_classification/classifications/classify/sequence_box.html' %}

    <div class="row">
        <div class="col-md-7 media-full">
            {% include 'media_classification/classifications/classify/resource_display.html' %}
            {% if resource.resource_type == "I" %}
            <div class="row">
                <div class="col-md-6">
                    <a id="show-original" href="{{ resource.get_url_original }}" class="btn btn-xs btn-default"
                        title="Show original file">
                        <span class="fa fa-eye"></span> {% trans "Show full-resolution file" %}
                    </a>
                </div>
                {% if is_ai_classification_view and ai_classification.get_bboxes %}
                <div class="col-md-6">
                    <a id="show-bbox" href="" class="btn btn-xs btn-default" title="Show bounding boxes">
                        <span class="fa fa-eye"></span> {% trans "Show bounding boxes" %}
                    </a>
                </div>
                {% elif is_user_classification_view and user_classification.get_bboxes %}
                <div class="col-md-6">
                    <a id="show-bbox" href="" class="btn btn-xs btn-default" title="Show bounding boxes">
                        <span class="fa fa-eye"></span> {% trans "Show bounding boxes" %}
                    </a>
                </div>
                {% elif not is_user_classification_view and not is_ai_classification_view and classification.get_bboxes %}
                <div class="col-md-6">
                    <a id="show-bbox" href="" class="btn btn-xs btn-default" title="Show bounding boxes">
                        <span class="fa fa-eye"></span> {% trans "Show bounding boxes" %}
                    </a>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">

                <ul class="nav nav-tabs">
                    <li class="{% if not is_ai_classification_view %} active{% endif %}"><a href="#tab-0"
                            data-toggle="tab">{% trans "User Classifications" %}</a>
                    </li>
                    <li class="{% if is_ai_classification_view %} active{% endif %}"><a href="#tab-1"
                            data-toggle="tab">{% trans "AI Classifications" %}</a>
                    </li>
                </ul>

                <div class="tab-content tab-fixed">
                    <div class="tab-pane {% if  not is_ai_classification_view %} active{% endif %}" id="tab-0">
                        {% include 'media_classification/classifications/classify/classification_box.html' %}
                    </div>
                    <div class="tab-pane {% if is_ai_classification_view %} active{% endif %}" id="tab-1">
                        {% include 'media_classification/classifications/classify/ai_classification_box.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4>{% trans "Classification form" %}</h4>
    {% if is_ai_classification_view %}
    <div class="row"
        ng-init="loadClassForm('{% url "media_classification:classify_form_ai" project.pk classification.pk ai_classification.model_id %}')"
        bind-html="classFormHtml">
    </div>

    {% else %}
    <div class="row"
        ng-init="loadClassForm('{% url "media_classification:classify_form" project.pk classification.pk class_user.pk %}')"
        bind-html="classFormHtml">
    </div>
    {% endif %}

    {% endblock section_content %}