{% load i18n %}
{% load common_tags %}

{% if resource.resource_type == "V" %}

<video id="trapper-video-player" width="650" height="430" controls preload="auto" class="video-js">
    <source src="{{ resource.get_url }}" type="{{ resource.mime_type }}" />
</video>

{% elif resource.resource_type == "A" %}

<audio controls>
    <source src="{{ resource.get_url }}" type="{{ resource.mime_type }}" />
</audio>

{% elif resource.resource_type == "I" and is_user_classification_view %}

<div id="div-img-bbox" data-src="{{ resource.get_url }}">
    <img id="img-bbox" src="{{ resource.get_url }}" data-bbox="{{ user_classification.get_bboxes | pretty_json }}" />
</div>

{% elif resource.resource_type == "I" and is_ai_classification_view %}

<div id="div-img-bbox" data-src="{{ resource.get_url }}">
    <img id="img-bbox" src="{{ resource.get_url }}" data-bbox="{{ ai_classification.get_bboxes | pretty_json }}" />
</div>

{% elif resource.resource_type == "I" and not is_ai_classification_view and not is_user_classification_view%}

<div id="div-img-bbox" data-src="{{ resource.get_url }}">
    <img id="img-bbox" src="{{ resource.get_url }}" data-bbox="{{ classification.get_bboxes | pretty_json }}" />
</div>

{% else %}
Unrecognized resource
{% endif %}
