{% extends "storage/index.html" %}

{% load static %}
{% load tz %}
{% load common_tags %}
{% load user_comments %}
{% load i18n %}

{% block data_app %}resource::preview{% endblock data_app %}

{% block scripts_prepend %}
<script src="{% static "umap/vendors/leaflet/leaflet-src.js" %}"></script>
<link rel="stylesheet" href="{% static "umap/vendors/leaflet/leaflet.css" %}" />
{% endblock scripts_prepend %}

{% block section_content %}

  <div class="container">

    <div class="nav-secondary nav-right">
      {% if resource.can_update %}
      <a id="share" href="{{ share_resource }}" class="btn btn-default"><span class="fa fa-share"></span> {% trans "Share" %}</a>
      <a href="{% url 'storage:resource_update' resource.pk %}" class="btn btn-default"><span class="fa fa-pencil"></span> {% trans "Update" %}</a>
      <a href="{% url "storage:resource_delete" resource.pk %}" class="btn btn-danger btn-delete"><span class="fa fa-trash-o"></span> {% trans "Delete" %}</a>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">{{ resource.prefixed_name }}</h2>
          </div>
          <div class="panel-body">
	    <div class="media-full" style="width: 523px; height: 400px; text-align: center;">
	      {% include "storage/resources/resource_display.html" %}
	    </div>
	    {% if resource.resource_type == "I" %}
	    <div>
	      <a id="show-original" href="{{ resource.get_url_original }}" class="btn btn-xs btn-default" title="Show original">
		<span class="fa fa-eye"></span> {% trans "Show full-resolution file" %}
	      </a>
	      {% if resource.data %}
	      <a id="show-objects" href="" class="btn btn-xs btn-default" title="Show objects">
		<span class="fa fa-eye"></span> {% trans "Show objects" %}
	      </a>
	      {% endif %}
	    </div>
	    {% endif %}
          </div>
        </div>
      </div>

      {% if resource.deployment.can_view %}
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">{% trans "Map" %}</h2>
	    <a href="{% url "geomap:map_view" %}?action=full&locations={{ resource.deployment.location.pk }}" class="btn">
	      <span class="fa fa-globe"></span> {% trans "Large map" %}
	    </a>
          </div>
          <div class="panel-body">
            <div id="location_small_map" style="width: 523px; height: 400px; text-align: center;" latlng="{{ resource.deployment.location.latlng }}">
              {% trans "map placeholder" %}
	    </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">{% trans "Details" %}</h2>
          </div>

          <ul class="list-group list-group-rich">
            <li class="list-group-item">
              <span class="list-group-label">{% trans "Type" %}:</span> 
              <span class="fa fa-file-image-o"></span> {{ resource.get_resource_type_display }}
            </li>
            <li class="list-group-item"><span class="list-group-label">{% trans "Mime type" %}:</span> {{ resource.mime_type }}</li>
	    <li class="list-group-item"><span class="list-group-label">{% trans "Deployment" %}:</span> 
	      <a href="{{ resource.deployment.get_absolute_url }}">{{ resource.deployment }}</a>
	    </li>
            <li class="list-group-item">
              <span class="list-group-label">{% trans "Date recorded" %}:</span> 
              {{ resource.date_recorded_tz|dt_with_offset }}
	      {% if not resource.check_date_recorded %}
	      <button class="btn btn-warning ng-scope" title="Probably a wrong date">
		<span class="fa fa-exclamation-triangle"></span>
	      </button>
	      {% endif %}
	    </li>
            <li class="list-group-item"><span class="list-group-label">{% trans "Date uploaded" %}:</span> {{ resource.date_uploaded|date:"d.m.Y" }}</li>
            <li class="list-group-item"><span class="list-group-label">{% trans "Owner" %}:</span> <span class="fa fa-user"></span> <a href="{{ resource.owner.userprofile.get_absolute_url }}">{{ resource.owner.username }}</a></li>
            <li class="list-group-item"><span class="list-group-label">{% trans "Managers" %}:</span> <span class="fa fa-users"></span>
            {% for manager in resource.managers.all %}
                <a href="{% url 'accounts:show_profile' manager.username %}">{{ manager|pretty_username }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">

          <ul class="nav nav-tabs">
	    <li class="active"><a href="#tab-0" data-toggle="tab">{% trans "Data" %}</a></li>
            <li><a href="#tab-1" data-toggle="tab">{% trans "Collections" %}</a></li>
            <li><a href="#tab-2" data-toggle="tab">{% trans "Research projects" %}</a></li>
            <li><a href="#tab-3" data-toggle="tab">{% trans "Classification projects" %}</a></li>
            <li><a href="#tab-4" data-toggle="tab">{% trans "Tags" %}</a></li>
          </ul>

          <div class="tab-content tab-fixed-short">
	    
            <table class="table tab-pane active" id="tab-0">
              <thead>
              <tr>
                <th>{% trans "Observation" %}</th>
                <th>{% trans "Species" %}</th>
		<th>{% trans "Age" %}</th>
		<th>{% trans "Sex" %}</th>
		<th>{% trans "Count" %}</th>
              </tr>
              </thead>

              <tbody>
                {% for observation in resource.data.observations %}
                <tr>
                  <td><span class="label label-warning">{{ observation.observation_type }}</span></td>
		  <td>
		    {% if observation.scientific_name %}
		      {{ observation.scientific_name | species_label }}
		    {% endif %}
		  </td>
		  <td>{{ observation.age }}</td>
		  <td>{{ observation.sex }}</td>
		  <td>{{ observation.count }}</td>
                </tr>
                {% empty %}
                  <tr>
                    <td class="alert alert-warning ng-binding" colspan="5">
                      <span class="fa fa-info"></span> {% trans "No observations available." %}
		    </td>
                  </tr>
                {% endfor %}
              </tbody>
	    	      
            </table>
	    
            <table class="table tab-pane" id="tab-1">
              <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Actions" %}</th>
              </tr>
              </thead>

              <tbody>
                {% for collection in collections %}
                <tr>
                  <td>
                    <a href="{% url "storage:collection_detail" pk=collection.pk %}">{{ collection.name }}</a>
                  </td>
                  <td>
                      <a href="{% url "storage:collection_detail" pk=collection.pk %}" class="btn btn-xs btn-default" data-tooltip="tooltip" title="Details"><span class="fa fa-search"></span></a>
                    {% if collection.can_update %}
                    <a href="{% url "storage:collection_update" pk=collection.pk %}" class="btn btn-xs btn-default" data-tooltip="tooltip" title="Update"><span class="fa fa-pencil"></span></a>
                    {% endif %}
                  </td>
                </tr>
                {% empty %}
                  <tr>
                    <td class="alert alert-warning ng-binding" colspan="2">
                      <span class="fa fa-info"></span> {% trans "No collections available." %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <table class="table tab-pane" id="tab-2">
              <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Actions" %}</th>
              </tr>
              </thead>

              <tbody>
                {% for project in research_projects %}
                  <tr>
                    <td>
                      <a href="{% url "research:project_detail" pk=project.pk %}">{{ project.name }}</a>
                    </td>
                    <td>
                        <a href="{% url "research:project_detail" pk=project.pk %}" class="btn btn-xs btn-default" data-tooltip="tooltip" title="Details"><span class="fa fa-search"></span></a>
                      {% if project.can_update %}
                        <a href="{% url "research:project_update" pk=project.pk %}" class="btn btn-xs btn-default" data-tooltip="tooltip" title="Update"><span class="fa fa-pencil"></span></a>
                      {% endif %}
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td class="alert alert-warning ng-binding" colspan="2">
                      <span class="fa fa-info"></span> {% trans "No research projects available.
                    " %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <table class="table tab-pane" id="tab-3">
              <thead>
              <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Actions" %}</th>
              </tr>
              </thead>

              <tbody>
              {% for project in classification_projects %}
                <tr>
                  <td>
                    <a href="{% url "media_classification:project_detail" pk=project.pk %}">{{ project.name }}</a>
                  </td>
                  <td>
                    <a href="{% url "media_classification:project_detail" pk=project.pk %}" class="btn btn-xs btn-default" data-tooltip="tooltip" title="Details"><span class="fa fa-search"></span></a>
                    {% if project.can_update %}
                      <a href="{% url "media_classification:project_update" pk=project.pk %}" class="btn btn-xs btn-default" data-tooltip="tooltip" title="Update"><span class="fa fa-pencil"></span></a>
                    {% endif %}
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td class="alert alert-warning ng-binding" colspan="2">
                    <span class="fa fa-info"></span> {% trans "No classification projects available." %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            <div class="tab-pane panel-body" id="tab-4">
                {% for tag in resource.tags.all %}
		<span class="label label-default">{{ tag }}</span>
                {% empty %}
                  <div class="alert alert-warning ng-binding">
                    <span class="fa fa-info"></span> {% trans "No tags assigned to this resource." %}
                  </div>
                {% endfor %}
	    </div>
          </div>
        </div>
      </div>
    </div>

    {% get_comments %}
    {% get_comment_form %}

  </div>
{% endblock section_content %}
