{% extends "common/grid.html" %}

{% load i18n %}

{% block filters %}

<div class="form-group form-filter">
  <label for="status" class="control-label">{% trans "Status" %}</label>
  <select
     id="status"
     class="form-control"
     filter-text="status"
     filter-service="filter"
     ng-model="filters.status"
     ng-options="option.value as option.label for option in optionList.status_simple">
  </select>
</div>

<div class="form-group form-filter">
  <label for="type" class="control-label">{% trans "Type" %}</label>
  <select
     id="type"
     class="form-control"
     filter-text="resource_type"
     filter-service="filter"
     ng-model="filters.resource_type"
     ng-options="option.value as option.label for option in optionList.media">
  </select>
</div>

<div class="form-group form-filter">
  <label for="is_empty" class="control-label">{% trans "Empty" %}</label>
  <select
     id="is_empty"
     class="form-control"
     filter-text="is_empty"
     filter-service="filter"
     ng-model="filters.is_empty"
     ng-options="option.value as option.label for option in optionList.bool">
  </select>
</div>

<div class="form-group form-filter">
  <label for="type" class="control-label">{% trans "Observation" %}</label>
  <select
     id="type"
     class="form-control"
     filter-text="observation_type"
     filter-service="filter"
     ng-model="filters.observation_type"
     ng-options="option.value as option.label for option in optionList.observation_type">
  </select>
</div>

<div class="form-group form-filter form-datepicker">
  <label for="date-uploaded" class="control-label">{% trans "Upl. date" %}</label>
  
  <div class="input-group input-daterange"
       filter-daterange="filters.udate"
       filter-name="'udate'"
       filter-service="filter">
    <input
       type="text"
       class="form-control"
       placeholder={% trans "from" %}
       >
    
    <span class="input-group-addon">
      <span class="fa fa-calendar"></span>
    </span>

    <input
       type="text"
       class="form-control"
       placeholder={% trans "to" %}
       >
  </div>
</div>

<div class="form-group form-filter form-datepicker">
  <label class="control-label">{% trans "Rec. date" %}</label>
  
  <div class="input-group input-daterange"
       filter-daterange="filters.rdate"
       filter-name="'rdate'"
       filter-service="filter">
    <input
       type="text"
       class="form-control"
       placeholder={% trans "from" %}
       >
          
    <span class="input-group-addon">
      <span class="fa fa-calendar"></span>
    </span>
    
    <input
       type="text"
       class="form-control"
            placeholder={% trans "to" %}
       >
  </div>
</div>

<div class="form-group form-filter form-datepicker">
  <label
    class="control-label"
    title='{% trans "This filter always assumes that times are provided in UTC." %}'>
    {% trans "Rec. time" %}
  </label>
  
  <div class="input-group input-daterange"
       filter-timerange="filters.rtime"
       filter-name="'rtime'"
       filter-service="filter">
    <input
       type="text"
       class="form-control"
       placeholder={% trans "from" %}
       >

    <span class="input-group-addon">
      <span class="fa fa-clock-o"></span>
    </span>

    <input
       type="text"
       class="form-control"
       placeholder={% trans "to" %}
       >
  </div>
</div>

<div class="form-group form-filter">
  <label for="timestamp_error" class="control-label">{% trans "Timestamp error" %}</label>
  <select
     id="timestamp_error"
     class="form-control"
     filter-text="timestamp_error"
     filter-service="filter"
     ng-model="filters.timestamp_error"
     ng-options="option.value as option.label for option in optionList.bool">
  </select>
</div>

<div class="form-group form-filter-full">
  <label for="tags" class="control-label">{% trans "Tags" %}</label>
  <select
     type="text"
     id="tags"
     class="select2-default"
     multiple
     ng-model="filters.tags"
     filter-tokens="tags"
     filter-service="filter">
    {% for tag in grid_context.tags %}
    <option value="{{ tag.0 }}">{{ tag.1 }}</option>
    {% endfor %}
  </select>
</div>

{% if not grid_context.hide_filter_collection %}
<div class="form-group form-filter-full">
  <label for="collections" class="control-label">{% trans "Collections" %}</label>
  <select
     type="text"
     id="collections"
     class="select2-default"
     multiple
     ng-model="filters.collections"
     filter-tokens="collections"
     filter-service="filter">
    {% for collection in grid_context.collections %}
    <option value="{{ collection.0 }}">{{ collection.1 }}</option>
    {% endfor %}
  </select>
</div>
{% endif %}

{% if user.is_authenticated %}

<div class="form-group form-filter-full">
  <label for="deployments" class="control-label">{% trans "Deployments" %}</label>
  <input
     type="text"
     class="select2ajax"
     multiple="true"
     id="deployments"
     ng-model="filters.deployments"
     filter-tokens="deployments"
     filter-api-url={% url "geomap:api-deployment-list" %}
     filter-text-label="deployment_id"
     filter-id-label="pk"
     filter-multiple="true"
     filter-service="filter">
  </input>  
</div>

<div class="form-group form-filter-full">
  <label for="species" class="control-label">{% trans "Species" %}</label>
  <input
     type="text"
     class="select2ajax"
     multiple="true"
     id="species"
     ng-model="filters.species"
     filter-tokens="species"
     filter-api-url='{% url "extra_tables:api-species-list" %}'
     filter-text-label="__str__"
     filter-id-label="pk"
     filter-multiple="true"
     filter-service="filter">
  </input>
</div>

{% endif %}

{% endblock %}

{% block custom_actions %}

{% if user.is_authenticated %}
<action-create-collection ng-disabled="!data.selectedCounter" ng-click="execute('{% url "storage:collection_create" %}')"></action-create-collection>
{% endif %}

{% url 'geomap:map_view' as new_map_url %}
<action-show-map data-type="resources" data-url="{{ new_map_url }}" data-field="pk">
  <select>
    <option value="{{ new_map_url }}" selected>{% trans "New map" %}</option>
    {% for map in resource_context.maps %}
    <option value="{% url 'geomap:map' slug=map.slug pk=map.pk %}">{{ map }}</option>
    {% endfor %}
  </select>
</action-show-map>

{% endblock%}

{% block custom_actions_list %}

<li>
  <action-addto-collection ng-click="execute($event, '{% url "storage:collection_append" %}')">
  </action-addto-collection>
</li>

{% if not resource_context.hide_change_actions %}
<li ng-class="{'disabled': !filters.owner}">
  <action-bulk-update 
     ng-click="execute('{% url "storage:resource_bulk_update" %}')">
  </action-bulk-update>
</li>
<li ng-class="{'disabled': !filters.owner}">
  <action-define-prefix
     ng-click="execute($event, '{% url "storage:resource_define_prefix" %}')">
  </action-define-prefix>
</li>
<li ng-class="{'disabled': !filters.owner}">
  <action-remove-selected
     ng-click="execute($event, '{% url "storage:resource_delete_multiple" %}')">
  </action-remove-selected>
</li>
<li ng-class="{'disabled': !filters.owner}">
  <action-regenerate-tokens ng-click="execute($event, '{% url "storage:resource_regenerate_tokens" %}')">
  </action-regenerate-tokens>
</li>
{% endif %}

<li>
  <action-generate-data-package ng-click="execute($event, '{% url "storage:resource_data_package" %}')">
  </action-generate-data-package>
</li>

{% if object.pk %}
<li>
  <action-unlink-selected
     ng-click="execute($event, '{% url "storage:collection_resource_delete" object.pk %}')">
  </action-unlink-selected>
</li>
{% endif %}

{% endblock %}

{% block table_cells %}

<td data-title="'Thumbnail'">
  <div ng-if="record.resource_type == 'I'" data-src="{[{ record.url }]}" class="img-thumbnail"
       ng-click="openGallery($event)" title="{[{ record.name }]} {[{ record.date_recorded | dateTZ: dateFormat.table }]}">
    <img ng-src="{[{ record.thumbnail_url }]}"/>
  </div>
  <div ng-if="record.resource_type == 'V'" style="display:none;" id="video{[{ $index }]}">
    <video class="lg-video-object lg-html5 video-js" controls preload="none">
      <source src="{[{ record.url }]}#t=0.1" type="{[{ record.mime }]}">
    </video>
  </div>
  <div ng-if="record.resource_type == 'V'" data-html="#video{[{ $index }]}" class="img-thumbnail"
       ng-click="openGallery($event)" title="{[{ record.name }]} {[{ record.date_recorded | dateTZ: dateFormat.table }]}">
    <img ng-src="{[{ record.thumbnail_url }]}"/>
   </div>
</td>
<td data-title="'Type'" ng-bind-html="record.resource_type | typesIcon"></td>
<td data-title="'Name'"><span>{[{ record.name }]}</span></td>
<td data-title="'Is empty'" ng-bind-html="record.is_empty | classifiedIcons"></td>
<td data-title="'Observation type'">
  <div class="tags-list">
    <span ng-repeat="tag in record.observation_type" class="label label-warning">{[{ tag }]}</span>
  </div>
</td>
<td data-title="'Species'">
  <div class="tags-list">
    <a ng-repeat="tag in record.species" href="http://eol.org/search?q={[{ tag }]}" target="_blank">
      <span class="label label-info">{[{ tag }]}</span>
    </a>
  </div>
</td>
<td data-title="'Custom tags'">
  <div class="tags-list">
    <span ng-repeat="tag in record.tags" class="label label-default">{[{ tag }]}</span>
  </div>
</td>
<td data-title="'Date recorded'">{[{ record.date_recorded | dateTZ: dateFormat.table }]}</td>
<td data-title="'Owner'"><a ng-href="{[{ record.owner_profile }]}">{[{ record.owner }]}</a></td>

{% endblock %}

{% block table_cells_extra_actions %}
{% if user.is_authenticated %}
<action-warning ng-if="record.date_recorded_correct===false" ng-click="execute($event, 'The date when this resource was recorded does not fall within a period of deployment. Better check it out.', record)"></action-warning>
{% endif %}
{% endblock %}
