{% extends "storage/index.html" %}

{% load i18n crispy_forms_tags %}

{% block data_app %}collection::request{% endblock data_app %}

{% block section_content %}

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{% trans "Collection request" %}</h2>
      </div>
      <form method="post" action="" class="panel-body">
        <fieldset>
          {% with collection.owner as owner %}
          <p>{% trans "You are going to send a request to " %}<a href="{% url 'accounts:show_profile' owner.username %}">{{ collection.owner.username }}</a> {% trans "to obtain the access to the following collection" %}: <a href="{% url 'storage:collection_detail' collection.pk %}">{{ collection.name }}</a>.</p>
          {% endwith %}
        </fieldset>
        {% crispy form form.helper %}
        <fieldset>
          <button type="submit" class="btn btn-primary">{% trans "Send request" %}</button>
          <a class="btn btn-default" href="{% url 'storage:collection_list' %}">{% trans "Cancel" %}</a>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock section_content %}
