{% extends 'storage/index.html' %}

{% load i18n %}

{% block ng_app %}ng-app="trapperGrid"{% endblock ng_app %}
{% block data_app %}collection::preview{% endblock data_app %}

{% block section_content %}

{% url 'storage:api-resource-list' as resource_url %}

<div
  class="container"
  ng-controller="GridController">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Collection" %}</h2>
        </div>
        <div class="panel-body">
          <h2>
	    {{ collection.name }}
	  </h2>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Actions for collection" %}</h2>
        </div>
        <div class="panel-body">
	  <div class="nav-secondary nav-right">
	    <button type="button" class="btn btn-success pull-left">
	      <action-addto-research
		ng-click="execute($event, '{% url "research:project_collection_add" %}', '{{ collection.pk }}')">
	      </action-addto-research>
	    </button>
            {% if collection.can_update %}
            <a href="{% url "storage:collection_update" collection.pk %}" class="btn btn-default ">
		<span class="fa fa-pencil"></span> {% trans "Update" %}
	    </a>
            {% endif %}
            {% if collection.can_delete %}
            <a href="{% url "storage:collection_delete" collection.pk %}" class="btn btn-danger btn-delete">
	      <span class="fa fa-trash-o "></span> {% trans "Delete" %}
	    </a>
            {% endif %}
	  </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Details" %}</h2>
        </div>

        <ul class="list-group list-group-rich">
          <li class="list-group-item"><span class="list-group-label">{% trans "Owner" %}:</span> <span class="fa fa-user"></span> <a href="{% url 'accounts:show_profile' collection.owner %}">{{ collection.owner|pretty_username }}</a></li>
          {% with collection.managers.all as collection_managers %}
          {% if collection_managers %}
          <li class="list-group-item"><span class="list-group-label">{% trans "Managers" %}:</span><span class="fa fa-users"></span>
            {% for manager in collection.managers.all %}
            <a href="{% url 'accounts:show_profile' manager.username %}">{{ manager|pretty_username }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
          </li>
          {% endif %}
          {% endwith %}
          <li class="list-group-item"><span class="list-group-label">{% trans "Status" %}:</span> {{ collection.get_status_display }} </li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans "Description" %}</h2>
        </div>

        <div class="panel-body">
          <p>{{ collection.description|default:""|safe }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {% with grid_context=resource_context %}
    {% include 'storage/resources/resource_grid.html' %}
    {% endwith %}
  </div>

</div>
{% endblock section_content %}
