{% extends "common/grid.html" %}

{% load i18n %}

{% block filters %}

{% if not grid_context.hide_filter_research_project %}
<div class="form-group form-filter-full">
  <label for="research_projects" class="control-label">{% trans "Research" %}</label>
  <select
     type="text"
     id="research_project"
     class="select2-default"
     multiple
     ng-model="filters.research_projects"
     filter-tokens="research_projects"
     filter-service="filter">
    {% for project in grid_context.research_projects %}
    <option value="{{ project.0 }}">{{ project.1 }}</option>
    {% endfor %}
  </select>
</div>
{% endif %}

<div class="form-group form-filter-full">
  <label for="owners" class="control-label">{% trans "Owners" %}</label>
  <select
     type="text"
     id="owners"
     class="select2-default"
     multiple
     ng-model="filters.owners"
     filter-tokens="owner"
     filter-service="filter">
    {% for owner in grid_context.owners %}
    <option value="{{ owner.pk }}">{{ owner|pretty_username }}</option>
    {% endfor %}
  </select>
</div>

{% endblock %}

{% block my_objects %}
{% endblock%}

{% block custom_actions %}
{% endblock%}

{% block custom_actions_list %}
{% endblock %}

{% block table_cells %}
<td data-title="'Name'" sortable="'name'">{[{ record.name }]}</td>
<td data-title="'Description'" sortable="'description'" ng-bind-html="record.description"></td>
<td data-title="'Status'" sortable="'status'">{[{ record.status }]}</td>
<td data-title="'Owner'" sortable="'owner'"><a ng-href="{[{ record.owner_profile }]}">{[{ record.owner }]}</a></td>
{% endblock %}

{% block table_cells_actions %}
<action-permission ng-click="execute($event, record)"></action-permission>
{% endblock %}
