{% extends "messaging/index.html" %}

{% load i18n %}

{% block messaging_collection_request %}primary{% endblock %}
{% block data_app %}message::preview{% endblock %}

{% block section_content %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">{% trans "Messages" %}</h2>
    </div>

    {% if collection_requests %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{% trans "Sender" %}</th>
        <th>{% trans "Message" %}</th>
        <th>{% trans "Research project" %}</th>
        <th>{% trans "Collection" %}</th>
        <th>{% trans "Action" %}</th>
	<th></th>
      </tr>
      </thead>

      <tbody>
      {% for collection_request in collection_requests %}
        <tr>
          <td><a href="{{ collection_request.message.user_from.userprofile.get_absolute_url }}">{% pretty_username collection_request.message.user_from %}</a></td>
          <td>
            <span class="fa fa-circle{% if not collection_request.message.is_new %}-o{% endif %}"></span>
            <a href="{{ collection_request.message.get_absolute_url }}" >{% trans "View Message" %}
            </a>
          </td>
          {% with collection_request.project as project %}
            <td>
              <a href="{% url "research:project_detail" project.pk %}">{{ project.name }}</a></td>
          {% endwith %}
          <td>
            {% for collection in collection_request.collections.all %}
              <a href="{% url "storage:collection_detail" collection.pk %}">{{ collection.name }}</a>
            {% endfor %}
          </td>

          <td>
            {% if collection_request.resolved_at %}
              {% if collection_request.is_approved %}<b class="text-green">{% trans "Approved" %}</b>{% else %}<b class="text-red">{% trans "Rejected" %}</b>{% endif %} at {{ collection_request.resolved_at|date:"d.m.Y, H:i" }}
            {% else %}
              <button type="button" class="btn btn-link" data-resolve="{% url 'messaging:collection_request_resolve' collection_request.pk %}" data-type="collection">{% trans "Resolve" %}</button>
              {% endif %}
            {% if collection_request.is_approved %}
              <p><button type="button" class="btn btn-link" data-revoke="{% url 'messaging:collection_request_revoke' collection_request.pk %}" data-type="collection">{% trans "Revoke" %}</button></p>
            {% endif %}
          </td>
	  <td>
	    {% if not collection_request.is_approved %}
	    <a href="{% url 'messaging:collection_request_delete' collection_request.pk %}" class="btn btn-danger"><span class="fa fa-trash-o"></span></a>
	    {% endif %}
	  </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% else %}
      <div class="alert alert-warning ng-binding">
        <span class="fa fa-info"></span> {% trans "No collection requests available." %}
      </div>

    {% endif %}
  </div>

{% endblock section_content %}
