{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">{% trans "Messages" %}</h2>
  </div>

  {% if message_list %}
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{% trans "Subject" %}</th>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Sender" %}</th>
    </tr>
    </thead>

    <tbody>
    {% for message in message_list %}
    <tr>
      <td>
        <span class="fa fa-circle{% if not is_inbox or not message.is_new %}-o{% endif %}"></span>
        <a href="{% url "messaging:message_detail" message.hashcode %}">{{ message.subject|safe }}</a>
      </td>
      <td>{{ message.date_sent|date:"d.m.Y, H:i" }}</td>
      <td><a href="{{ message.user_from.userprofile.get_absolute_url }}">{% pretty_username message.user_from %}</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div class="alert alert-warning ng-binding">
      <span class="fa fa-info"></span> {% trans "No messages available." %}
    </div>
  {% endif %}
</div>


