{% extends "messaging/index.html" %}

{% load i18n crispy_forms_tags %}

{% block messaging_message_create %}primary{% endblock %}
{% block data_app %}message::new{% endblock %}

{% block section_content %}
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{% trans "New message" %}</h2>
      </div>

      <form action="." method="post" class="panel-body" enctype="multipart/form-data">
        {% crispy form form.helper %}
        <fieldset>
          <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
        </fieldset>
      </form>
      
    </div>
  </div>

{% endblock section_content %}
