{% extends "media_classification/index.html" %}

{% load common_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block data_app %}classification::create{% endblock data_app %}
{% block ng_app %}ng-app="trapperGrid"{% endblock ng_app %}

{% block section_content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
	  {% if object %}{% trans "Update" %}{% else %}{% trans "Add" %}{% endif %} {% trans "classification project" %}
	</h2>
      </div>
      <form action="." class="panel-body" method="post">
        {% crispy form form.helper %}
        <fieldset>
          <button type="submit" class="btn btn-primary">
            {% if object %}{% trans "Update" %}{% else %}{% trans "Add" %}{% endif %} {% trans "classification project" %}
          </button>
        </fieldset>
      </form>
      <div class="hidden">
	<table class="table">
	  <thead>
	  </thead>
	  <tbody>
	    <tr id="dynamic-form-row-template">
              {% with projectrole_formset.empty_form as form_template %}
              <td>
		{{ form_template.id }}
		{{ form_template.user|as_crispy_field }}
              </td>
              <td>{{ form_template.name|as_crispy_field }}</td>
              <td>
		<button type="button" class="btn btn-danger btn-remove-row pull-right">
		  <span class="fa fa-remove"></span>
		</button>
              </td>
	      {% endwith %}
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
{% endblock section_content %}
