{% load i18n %}

<div class="form-inline">

    <div class="checkbox-inline">
        <label>
            {{ form.deployment_based_nav }}
            {% trans "Deployment-based navigation" %}
        </label>
    </div>

    <div class="checkbox-inline">
        <label>
            {{ form.enable_sequencing }}
            {% trans "Sequences" %}
        </label>
    </div>

    <div class="checkbox-inline">
        <label>
            {{ form.enable_crowdsourcing }}
            {% trans "Crowdsourcing" %}
        </label>
    </div>

</div>
