{% extends "common/grid.html" %}

{% load i18n %}

{% block filters %}

<div class="form-group form-filter">
  <label for="status" class="control-label">{% trans "Status" %}</label>
  <select
     id="status"
     class="form-control"
     filter-text="status"
     filter-service="filter"
     ng-model="filters.status"
     ng-options="option.value as option.label for option in optionList.progress">
  </select>
</div>

{% if not grid_context.hide_research_project_col %}
    <div class="form-group form-filter-full">
      <label for="owners" class="control-label">{% trans "Research" %}</label>
      <select
         type="text"
         id="research_projects"
         class="select2-default"
         multiple
         ng-model="filters.research_project"
         filter-tokens="research_project"
         filter-service="filter">
        {% for project in grid_context.research_projects %}
        <option value="{{ project.0 }}">{{ project.1 }}</option>
        {% endfor %}
      </select>
    </div>
{% endif %}

{% endblock %}

{% block my_objects %}
    {% if user.is_authenticated %}
        <button
                type="button"
                title="{% trans "When switched-on the grid displays only these items that you can edit." %}"
                class="btn btn-default"
                ng-class="{ active: filters.owner }"
                ng-model="filters.owner"
                ng-init="filters.owner = true"
                ng-click="filterOwner(filters.owner)"
                filter-checkbox="{ name: 'owner', value: '{{ user.pk }}' }"
                filter-service="filter">{% trans "My classification projects" %}
        </button>
    {% endif %}
{% endblock %}

{% block custom_actions %}
{% endblock%}

{% block custom_actions_list %}

<li ng-class="{'disabled': !filters.owner}">
  <action-remove-selected ng-click="execute($event, '{% url "media_classification:project_delete_multiple" %}')">
  </action-remove-selected>
</li>

{% endblock%}

{% block exclude_column_headers %}
{% if grid_context.hide_research_project_col %}
ng-if="column != 'Research project'"
{% endif %}
{% endblock %}

{% block table_cells %}

<td data-title="'Name'">{[{ record.name }]}</td>

{% if not grid_context.hide_research_project_col %}
<td data-title="'Research project name'">{[{ record.research_project }]}</td>
{% endif %}
<td data-title="'Status'">{[{ record.status }]}</td>

{% endblock %}

{% block table_cells_extra_actions %}

<action-warning ng-if="!record.classificator" ng-click="execute($event, 'This classification project has no classificator assigned', record)"></action-warning>

{% endblock %}
