{% load i18n %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="fa fa-flask"></span> <a
                        href="{% url 'research:project_detail' pk=grid_context.project.research_project.pk %}">{{ grid_context.project.research_project.acronym }}</a>
                    >
                    <span class="fa fa-cubes"></span> <a
                        href="{% url 'media_classification:project_detail' pk=grid_context.project.pk %}">{{ grid_context.project.name }}</a>
                    > <strong>{% trans "AI classifications" %}</strong>
                </h2>
            </div>
        </div>
    </div>
</div>