{% extends "common/grid.html" %}

{% load i18n %}

{% block breadcrumbs %}
    {% include "./breadcrumbs.html" %}
{% endblock %}

{% block filters %}

    {% include "./filters.html" %}

{% endblock %}

{% block my_objects %}
    {% if user.is_authenticated %}
        <button
                type="button"
                class="btn btn-default"
                ng-class="{ active: filters.owner }"
                ng-model="filters.owner"
                ng-init="filters.owner = false"
                ng-click="filterOwner()"
                filter-checkbox="{ name: 'owner', value: '{{ user.pk }}' }"
                filter-service="filter">{% trans "My classifications" %}</button>
    {% endif %}
{% endblock %}

{% block custom_actions %}
{% if grid_context.is_admin %}
<action-export-with-filters ng-click="execute('{% url "media_classification:api-ai-classification-results" project_pk=grid_context.project.pk %}')">
</action-export-with-filters>
{% endif %}
{% endblock%}
	
{% block custom_actions_list %}
    {% if grid_context.is_admin %}
        <li>
            <action-classify-ai
                    ng-click="execute($event, '{% url "media_classification:classify_ai" pk=grid_context.project.pk obj="aiclassification" %}')">
            </action-classify-ai>
        </li>
        <li>
            <action-approve-selected-ai-classifications
                    ng-click="execute($event, '{% url "media_classification:ai_classification_bulk_approve" project_id=grid_context.project.pk %}')">
            </action-approve-selected-ai-classifications>
        </li>
        <li>
            <action-remove-selected
                    ng-click="execute($event, '{% url "media_classification:ai_classification_delete_multiple" %}')">
            </action-remove-selected>
        </li>
        <li>
            <action-copy-bboxes-from-ai
                    ng-click="execute($event, '{% url "media_classification:ai_classification_copy_bboxes" project_id=grid_context.project.pk %}')">
            </action-copy-bboxes-from-ai>
        </li>
    {% endif %}
{% endblock %}

{% block table_cells %}
    {% include "./list_item.html" %}
{% endblock %}

{% block table_cells_extra_actions %}
{#    <action-user-classification-details#}
{#            ng-click="execute($event, record, {{ grid_context.project.deployment_based_nav|yesno:'true,false' }})">#}
{#    </action-user-classification-details>#}
{% endblock %}

