{% load i18n %}

<td data-title="'Thumbnail'">
    <div
            ng-if="record.resource.resource_type == 'I'"
            data-src="{[{ record.resource.url }]}"
            class="img-thumbnail"
            ng-click="openGallery($event)"
            title="{[{ record.resource.name }]}">
        <img ng-src="{[{ record.resource.thumbnail_url }]}"/>
    </div>
    <div ng-if="record.resource.resource_type == 'V'" style="display:none;" id="video{[{ $index }]}">
        <video class="lg-video-object lg-html5 video-js" controls preload="none">
            <source src="{[{ record.resource.url }]}#t=0.1" type="{[{ record.resource.mime }]}">
        </video>
    </div>
    <div
            ng-if="record.resource.resource_type == 'V'"
            data-html="#video{[{ $index }]}"
            class="img-thumbnail"
            ng-click="openGallery($event)"
            title="{[{ record.resource.name }]}">
        <img ng-src="{[{ record.resource.thumbnail_url }]}"/>
    </div>
</td>
<td data-title="'Type'" sortable="'resource.resource_type'"
    ng-bind-html="record.resource.resource_type | typesIcon"></td>
<td data-title="'Name'" sortable="'resource.name'">{[{ record.resource.name }]}</td>
<td data-title="'Date recorded'">{[{ record.resource.date_recorded | dateTZ: dateFormat.table }]}</td>
{#<td data-title="'User'" sortable="'owner'"><a ng-href="{[{ record.owner_profile }]}">{[{ record.owner }]}</a></td>#}
<td data-title="'AI Provider'" sortable="'ai_provider'">{[{ record.ai_provider }]}</td>
{#<td data-title="'Updated'">{[{ record.updated_at | dateTZ: dateFormat.table }]}</td>#}
<td data-title="'Approved'" ng-bind-html="record.approved | classifiedAIIcons"></td>
<td data-title="'Attributes'">
    <h6>{% trans "Static attributes" %}:</h6>
    <div class="tags-list">
    <span
            ng-repeat="(label, tag) in record.static_attrs"
            ng-if="label != 'comments' && label != 'annotations'"
            class="label label-success">{[{ label }]}: {[{ tag }]}
    </span>
    </div>
    <h6>{% trans "Dynamic attributes" %}:</h6>
    <div class="tags-list" ng-repeat="dynamic_attr in record.dynamic_attrs" ng-init="tagIndex = $index">
    <span
            ng-repeat="(label, tag) in dynamic_attr"
            class="label" title="{[{ tag }]}"
            ng-class="{'label-default': tagIndex % 2 == 0, 'label-success': tagIndex % 2 != 0}">{[{ label }]}: {[{ tag
        }]}</span>
    </div>
</td>