{% extends "common/base_mail_template.html" %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
    {% blocktranslate %}
    <h2 class="align-center">Welcome to the {{ project_name }}!</h2>
    <p class="align-center">We are happy to see that you want join our community.</p>
    <p class="align-center">Click the button or copy the link to verify your e-mail.<br></p>
    <p class="align-center"><a href="https://{{ domain }}/activate/{{ uid }}/{{ token }}/" target="_blank" class="button">Verify me</a><br></p>
    <p class="align-center">If you think, it's not you, then just ignore this email.</p>
    {% endblocktranslate %}
    {% endautoescape %}
{% endblock %}
