{% extends "common/base_mail_template.html" %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
    {% blocktranslate %}
    <h2 class="align-center">Reset your {{ project_name }} password</h2>
    <p class="align-center">In order to reset the password click the button or copy the link.</p>
    <p class="align-center">Please do not forward this email to others to prevent unauthorized access to you account. If this is not your request, please ignore this message.<br></p>
    <p class="align-center">Link is available only for 15 minutes.<br></p>
    <p class="align-center"><a href="https://{{ domain }}/password-reset/{{ uid }}/{{ token }}/" target="_blank" class="button">Reset the password</a><br></p>
    <p class="align-center">If you think, it's not you, then just ignore this email.</p>
    {% endblocktranslate %}
    {% endautoescape %}
{% endblock %}