{% extends 'media_classification/index.html' %}

{% load i18n crispy_forms_tags %}

{% block data_app %}classificator::create{% endblock data_app %}

{% block section_content %}

    <div class="container">
      <form class="panel panel-default" action="" name="attr-form" method="post" novalidate="novalidate">
        <div class="panel-heading">
	  <div class="row">
	    <div class="col-md-6">
	      <h2 class="panel-title">
		{% if classificator %}{% trans "Update" %}{% else %}{% trans "Add" %}{% endif %} {% trans "classificator" %}
	      </h2>
	    </div>
	    <div class="col-md-6">
	      <button type="submit" name="submit" value="change" class="btn btn-success pull-right">{% trans "Submit" %}</button>
	    </div>
          </div>
	</div>
        <div class="row panel-body">
          <div class="col-md-12 form-group form-required">
            {% crispy classificator_form classificator_form.helper %}
          </div>
          <div class="col-md-8">
            {% include 'media_classification/classificators/form_left.html' %}
          </div>
          <div class="col-md-4">
            {% include 'media_classification/classificators/form_right.html' %}
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </form>
    </div>
{% endblock section_content %}
