{% load static %}
{% load variables_tags %}
{% load common_tags %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Trapper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/trapper.css' %}">

    <script>
      if(global === undefined) {
        var global = window;
      }
      global['Translations'] = {% load_frontend_translations LANGUAGE_CODE|escapejs %};
    </script>

    <script src="{% static 'js/vendor.js' %}"></script>

    {% block header %}
    {% block scripts_prepend %}
    {% endblock scripts_prepend %}
    <script src="{% static 'js/utils/alert.js' %}"></script>
    <script src="{% static 'js/utils/modal.js' %}"></script>
    <script src="{% static 'js/utils/plugins.js' %}"></script>

    <script src="{% static 'js/apps/dashboard.js' %}"></script>
    <script src="{% static 'js/apps/classificator.js' %}"></script>
    <script src="{% static 'js/apps/classification.js' %}"></script>
    <script src="{% static 'js/apps/collection.js' %}"></script>
    <script src="{% static 'js/apps/location.js' %}"></script>
    <script src="{% static 'js/apps/deployment.js' %}"></script>
    <script src="{% static 'js/apps/message.js' %}"></script>
    <script src="{% static 'js/apps/research.js' %}"></script>
    <script src="{% static 'js/apps/resource.js' %}"></script>
    <script src="{% static 'js/apps/user.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'js/grid/app.js' %}"></script>
    <script src="{% static 'js/grid/controllers.js' %}"></script>
    <script src="{% static 'js/grid/directives.js' %}"></script>
    <script src="{% static 'js/grid/filters.js' %}"></script>
    <script src="{% static 'js/grid/services.js' %}"></script>
    <script src="{% static 'js/apps/language.js' %}"></script>
    
    {% block scripts_append %}
    {% endblock scripts_append %}
    {% endblock header %}    
  </head>

  <body data-static-url="{% static '' %}" {% if user.is_authenticated %}data-user="{{ user|pretty_username }}"{% endif %} data-app="{% block data_app %}dashboard{% endblock %}" {% block ng_app %}{% endblock ng_app %}>
    
    {% with user.is_authenticated as is_authenticated %}
    {% block main_menu %}
      {% include 'main_menu.html' %}
    {% endblock main_menu %}

    {% if messages %}
    <div id="alerts" class="alerts-global">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <div>
          {{ message|safe }}
          <button type="button" class="alert-close"></button>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="container">
      {% block content %}
      <!-- {% get_variable namespace='global' name='app-welcome' %} -->
      {% include 'welcome.html' %}
      {% endblock content %}
    </div>
    {% endwith %}

  </body>
</html>

