{% load variables_tags %}
{% load i18n %}
{% load static %}

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="" href="{% url "trapper_index" %}">
	<img class="navbar-logo" src="{% static 'images/logo/logo.png' %}" title="Home"></img>
      </a>
    </div>
    
    <ul class="nav navbar-nav">

      {% if is_authenticated %}
      {% with user.get_profile as user_profile %}
      <li class="dropdown {{ menu_messages }}">
        <a href="{% url 'messaging:index' %}">
          <span class="fa {% if user_profile.has_unread_messages %}text-primary fa-envelope{% else %}fa-envelope-o{% endif %}"> </span>
          {% trans "Messaging" %}
          <span class="fa fa-angle-down"></span>
        </a>
        
        <ul class="dropdown-menu">
          <li><a href="{% url 'messaging:message_inbox' %}">{% trans "Inbox" %}</a></li>
          <li><a href="{% url 'messaging:message_outbox' %}">{% trans "Outbox" %}</a></li>
          <li><a href="{% url 'messaging:message_create' %}"><span class="fa fa-pencil"></span> {% trans "New message" %}</a></li>
          <li class="divider"></li>
          <li><a href="{% url "messaging:collection_request_list" %}">{% trans "Requested Collections " %}</a></li>
        </ul>
      </li>
      {% endwith %}
      {% endif %}

      {% if is_authenticated %}
      <li class="dropdown {{ menu_storage }}">
        <a href="{% url 'storage:storage_index' %}">
          <span class="fa fa-database"></span>
          {% trans "Storage" %}
          <span class="fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% url "storage:resource_list" %}">{% trans "Resources (available)" %}</a></li>
          <li><a href="{% url "storage:resource_create" %}"><span class="fa fa-plus"></span> {% trans "Add resource" %}</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'storage:collection_list' %}">{% trans "Collections (available)" %}</a></li>
          <li><a href="{% url 'storage:collection_ondemand_list' %}">{% trans "Collections (on demand)" %}</a></li>
          <li><a href="{% url "storage:collection_upload" %}">
              <span class="fa fa-upload"></span> {% trans "Upload collection" %}</a>
          </li>
        </ul>
      </li>
      {% endif %}
      
      {% if is_authenticated %}

      <li class="dropdown {{ menu_research }}">
        <a href="{% url 'research:project_index' %}">
          <span class="fa fa-flask"></span>
          {% trans "Research" %}
          <span class="fa fa-angle-down"></span>
        </a>
        
        <ul class="dropdown-menu">
          <li><a href="{% url 'research:project_list' %}">{% trans "Research project" %}</a></li>
          <li><a href="{% url 'research:project_create' %}"><span class="fa fa-plus"></span> {% trans "Add research project" %}</a></li>
        </ul>
      </li>
            
      <li class="dropdown {{ menu_media_classification }}">
        <a href="{% url "media_classification:project_index" %}">
          <span class="fa fa-cubes"></span>
          {% trans "Classification" %}
          <span class="fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% url "media_classification:project_list" %}">{% trans "Classification projects" %}</a></li>
          <li><a href="{% url "media_classification:project_create" %}"><span class="fa fa-plus"></span> {% trans "Add classification project" %}</a></li>
          <li><a href="{% url "media_classification:classification_import" %}"><span class="fa fa-upload"></span> {% trans "Import classifications" %}</a></li>
          <li><a href="{% url "media_classification:classification_overview" %}">{% trans "Classifications overview" %}</a></li>
	  <li class="divider"></li>
	  <li><a href="{% url "media_classification:classification_publish" %}"><span class="fa fa-share"></span> {% trans "Publish results" %}</a></li>
          <li class="divider"></li>
          <li><a href="{% url "media_classification:classificator_list" %}">{% trans "Classificators" %}</a></li>
          <li><a href="{% url "media_classification:classificator_create" %}"><span class="fa fa-plus"> </span> {% trans "Add classificator" %}</a></li>
        </ul>
      </li>

      {% endif %}

      {% if is_authenticated %}
      <li class="dropdown {{ menu_geomap }}">
        <a href="#">
          <span class="fa fa-globe"></span>
          {% trans "Map" %}
          <span class="fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'geomap:map_view' %}?action=full">{% trans "Show map" %}</a></li>
          <li><a href="{% url 'geomap:map_list' %}">{% trans "Saved maps" %}</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'geomap:location_list' %}">{% trans "Locations" %}</a></li>
          <li><a href="{% url "geomap:location_create" %}"><span class="fa fa-plus"></span> {% trans "Add location" %}</a></li>
          <li><a href="{% url 'geomap:location_import' %}"><span class="fa fa-upload"></span> {% trans "Import locations" %}</a></li>
          <li class="divider"></li>
          <li><a href="{% url 'geomap:deployment_list' %}">{% trans "Deployments" %}</a></li>
          <li><a href="{% url "geomap:deployment_create" %}"><span class="fa fa-plus"></span> {% trans "Add deployment" %}</a></li>
          <li><a href="{% url 'geomap:deployment_import' %}"><span class="fa fa-upload"></span> {% trans "Import deployments" %}</a></li>
        </ul>
      </li>
      
      {% if user.is_staff %}
      <li>
	<a href="{% url "admin:index" %}">
	  <span class="fa fa-cogs"></span> {% trans "Admin site" %}
	</a>
      </li>
      {% endif %}
      
    </ul>
    {% endif %}

    <ul class="nav navbar-nav pull-right">

      {% if is_authenticated %}
      <li class="{{ menu_profile }}"><a href="{% url "accounts:mine_profile" %}"><span class="fa fa-user"></span> {{ user|pretty_username }}</a></li>
      <li><a href="{% url "account_logout" %}"><span class="fa fa-lock"></span> {% trans "Logout" %}</a></li>
      {% else %}
      <li class="{{ menu_login }}"><a href="{% url "account_login" %}"><span class="fa fa-lock"></span> {% trans "Login" %}</a></li>
      {% if registration_open %}
      <li class="{{ menu_signup }}"><a href="{% url "account_signup" %}"><span class="fa fa-cog"></span> {% trans "Register" %}</a></li>
      {% endif %}
      {% endif %}
      <li class="language-container">
          <select id="language-select" class="language-select-container">
            <option id="pl_language" value="pl">PL</option>
            <option id="en_language" value="en">EN</option>
            <option id="sv_language" value="sv">SV</option>
            <option id="de_language" value="de">DE</option>
          </select>
      </li>
    </ul>
  </div>
</nav>
<script src="{% static 'js/apps/language.js' %}"></script>
