{% load static %}

<!-- Carousel -->
<div class="item active">
  <h1>Welcome to</h1>
  <h1>
    <img class="img-responsive" src="{% static 'images/logo/logo_text.png' %}"></img>
  </h1>
  <h1>Do you have questions?</h1>
  <p class="lead">
    <a href="mailto:contact@os-conservation.org">contact@os-conservation.org</a>
  </p>
  <p class="lead">
    <a href="https://groups.google.com/g/trapper-project" target="_blank">https://groups.google.com/g/trapper-project</a>
  </p>
</div>

<!-- FOOTER -->
<footer>
  <p>&copy; 2022
    <a href="https://os-conservation.org" target="_blank">OPEN SCIENCE CONSERVATION FUND</a> &middot;
    <a href="https://ibs.bialowieza.pl/en/" target="_blank">MRI PAS</a> &middot;
    <a href="https://gitlab.com/trapper-project/trapper" target="_blank">TRAPPER PROJECT</a> &middot;
    <a href="#">Terms</a>
  </p>
</footer>
