{% load i18n crispy_forms_tags %}

<form action="" method="post" enctype="multipart/form-data" class="panel-body">
  <p class="alert alert-warning">
    <span class="fa fa-info"></span>
    Using this action you can calculate trapping rates for the filtered classifications,
    grouping them by deployments or locations and export the results as CSV or geojson.
  </p>
  {% crispy form form.helper %}
  <fieldset>
    <button type="submit" class="btn btn-success">{% trans "Run" %}</button>
  </fieldset>
</form>
