{% extends "common/base_mail_template.html" %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
    {% blocktranslate with english_name=species.english_name latin_name=species.latin_name %}
    <h2 class="align-center">Tracked species ({{ english_name }}) have been detected</h2>
    <p class="align-center">We would like to inform you that tracked species {{ english_name }} ({{ latin_name }}) have been detected in the "{{ classification_project }}" classification project.<br></p>
    <p class="align-center"><a href="https://{{ domain }}{{ url }}" target="_blank" class="button">Go to project</a><br></p>
    {% endblocktranslate %}
    {% endautoescape %}
{% endblock %}
