{% load i18n crispy_forms_tags %}

<form action="" method="post" enctype="multipart/form-data" class="panel-body">
  <p class="alert alert-warning">
    <span class="fa fa-info"></span>
    Use this form to run an action to copy bounding boxes from selected AIClassifications to approved Classifications made by human experts. Choose the attributes used to determine the match below.
  </p>
  {% crispy form form.helper %}
  <fieldset>
    <button type="submit" class="btn btn-primary">{% trans "Run" %}</button>
  </fieldset>
</form>
