{% load i18n %}
<div class="panel-heading">
    <h2 class="panel-title">{% trans "Remote tasks" %}</h2>
</div>

{% if remote_tasks %}
    <table class="table">
        <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>

        <tbody>
          {% for task in remote_tasks %}
          <tr class="{{ task.dstatus.css }}">
            <td>{{ task.name }}</td>
            <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
            <td>{% if task.status != "STARTED" %}{{ task.updated_at|date:"d.m.Y H:i" }}{% endif %}</td>
            <td>
              <span class="label label-{{ task.dstatus.css }}">
                <span class="fa {{ task.dstatus.icon }}"></span>
                {{ task.status }}
              </span>
            </td>
            <td>
              {% if task.dstatus.action_detail %}
              <button class="btn btn-xs btn-default btn-log" title="Read log">
                <span class="fa fa-file-o"></span>
              </button>
              <div data-title="{{ task.name }}" data-mode="{{ task.status|lower }}">
                <label>{% trans "Result" %}:</label>
                {% if task.log %}
                <div>{{ task.log|safe|default:"" }}</div>
                {% endif %}
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

{% else %}
    <div class="alert alert-warning ng-binding"><span class="fa fa-info"></span>{% trans "List of tasks is empty." %}</div>
{% endif %}

<div class="panel-footer">
</div>
