body {
    padding: 70px 0 40px;
    background: #eee
}

h2+h3 {
    margin-top: 0;
    font-size: 18px
}

a,
button,
input,
select,
textarea {
    transition-duration: .25s;
    transition-property: background-color, border-color, color, opacity;
    transition-timing-function: ease
}

a:active,
a:focus,
button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
    outline: 0
}

.alerts-global {
    left: 0;
    position: fixed;
    right: 0;
    top: 51px;
    z-index: 1020
}

.alerts-global>.alert {
    margin: 0;
    opacity: 0;
    padding: 10px;
    border-radius: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all .25s ease
}

.alerts-global>.alert.active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.alerts-global>.alert>div {
    margin: 0 auto;
    width: 640px;
    text-align: center
}

.alert-close {
    float: right;
    background: 0 0;
    border: 0
}

.alert-close::before {
    content: "\f00d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.btn-link {
    padding: 0
}

.btn.active:focus,
.btn.focus,
.btn:focus {
    outline: 0
}

.btn-default:focus:not(.active) {
    background: #fff;
    border-color: #ccc
}

.btn-pagination {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: right;
    margin: 0 0 0 40px
}

.btn-pagination>.btn {
    min-width: 40px;
    font-size: 18px;
    line-height: 14px
}

.btn-pagination>.first {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0
}

.btn-pagination>.prev {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
}

.btn-pagination>.next {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3
}

.btn-pagination>.last {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4
}

.btn-pagination .form-group {
    margin: 0 20px
}

.btn-pagination .ordered {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2
}

.dropdown-menu.plain {
    padding: 0;
    background: 0 0;
    border: 0;
    box-shadow: none
}

.btn-selects {
    display: inline;
    float: right
}

.checkbox,
.radio {
    margin-bottom: 15px;
    margin-top: 15px
}

td input[type=checkbox] {
    margin-top: 10px
}

.label {
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25)
}

.checkbox-inline label,
.radio-inline label {
    margin-bottom: 0
}

.label-fixed-widths .label {
    display: inline-block;
    min-width: 90px
}

.collapsable::before {
    content: "\f107";
    display: inline-block;
    margin-right: 3px;
    font: normal normal 16px/1 FontAwesome;
    vertical-align: middle;
    transition: -webkit-transform .35s ease;
    transition: transform .35s ease
}

.collapsable.collapsed::before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.checkbox label,
.checkbox-inline label,
.radio label,
.radio-inline label,
label.checkbox-inline,
label[for] {
    cursor: pointer
}

label.checkbox-inline {
    margin-bottom: 15px;
    font-weight: 700
}

.form-required>label::after {
    content: "\f069";
    display: inline-block;
    margin-left: 3px;
    font: normal normal 10px/1 FontAwesome;
    vertical-align: text-top;
    color: #337cb7
}

.form-required.has-error>label::after {
    color: #a94442
}

.server-side-required label::after {
    content: "\f069";
    display: inline-block;
    margin-left: 3px;
    font: normal normal 10px/1 FontAwesome;
    vertical-align: text-top;
    color: #337cb7
}

.server-side-required.has-error>label::after {
    color: #a94442
}

.form-error {
    color: #a94442;
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.form-error:focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.form-inline>div {
    margin-right: 20px
}

.form-inline+.table {
    margin-top: 15px
}

.form-group>p {
    margin: 5px 0 0
}

.form-group>img {
    display: block;
    margin-bottom: 5px
}

.form-filter,
.form-filter-wide {
    float: left;
    padding-left: 120px;
    position: relative;
    width: 20%
}

.form-filter-fill {
    position: relative;
    padding-left: 115px;
    overflow: auto
}

.form-filter-wide {
    width: 50%
}

.form-filter+.btn,
.form-filter-wide+.btn {
    clear: left;
    display: block;
    float: left
}

.form-datepicker {
    width: 30%
}

.form-filter input,
.form-filter select,
.form-filter-wide input,
.form-filter-wide select {
    display: block
}

.form-filter-full {
    clear: both;
    padding-left: 115px;
    position: relative
}

.form-filter label,
.form-filter-full label,
.form-filter-wide label,
.form-filter-fill label {
    left: 0;
    position: absolute;
    min-width: 100px;
    line-height: 34px;
    text-align: right
}

textarea {
    resize: none
}

.file-group {
    overflow: hidden;
    margin-bottom: 15px;
    position: relative
}

.file-group>input[type=file] {
    display: none
}

.file-group label {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    opacity: 0
}

.file-group:hover .btn {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333
}

#sequence-picker+button {
    margin-top: 15px
}

.progress {
    margin-bottom: 15px
}

.progress-bar {
    transition: background-color .25s ease
}

.form-classificator .form-group {
    padding-bottom: 15px;
    line-height: 34px;
    border-bottom: 1px solid #ddd
}

.form-classificator .form-group:last-of-type {
    border: 0;
    padding: 0
}

.form-classificator .form-group::after {
    content: '';
    clear: both;
    display: block
}

.form-classificator .select2-container,
.form-classificator input:not([type=checkbox]),
.form-classificator select,
.form-classificator textarea {
    float: left;
    min-width: 400px;
    width: auto
}

.form-classificator input[type=checkbox] {
    margin-top: 10px
}

.form-classificator label {
    float: left;
    margin: 0 15px 0 0;
    width: 200px;
    text-align: right
}

.form-classificator .form-group>span {
    margin-left: 15px
}

.form-annotation .input-group {
    float: left;
    width: 260px
}

.form-annotation .input-group input {
    min-width: 0;
    width: 100%
}

.form-annotation .input-group-addon {
    border-width: 1px 0
}

.form-annotation .btn-group {
    float: left;
    margin-left: 15px
}

.table .form-annotation .btn-group,
.table .form-annotation .input-group {
    float: none
}

.table .form-annotation .btn-group {
    margin: 5px 0 0
}

.list-fixed-height {
    height: 286px;
    overflow: auto
}

.list-group>ul {
    margin: 0;
    padding: 0
}

.list-group-label {
    display: inline-block;
    width: 150px;
    text-align: right;
    color: #777
}

.list-narrow .list-group-label {
    width: 75px
}

.panel .list-group-item {
    background: 0 0
}

.media {
    padding: 0 45px 15px 0;
    position: relative;
    border-bottom: 1px solid #eee
}

.tab-pane .media {
    padding: 10px 55px 15px 10px
}

.media-left {
    padding-right: 15px
}

.media:last-child {
    padding-bottom: 0;
    border-bottom: 0
}

.media-response {
    margin-left: 80px
}

.media>.btn {
    position: absolute;
    right: 0;
    top: 0
}

.tab-pane .media>.btn {
    right: 10px;
    top: 10px
}

.media time {
    font-size: 12px;
    color: #777
}

.media time::after,
.media time::before {
    content: '•';
    padding: 0 10px
}

.media-full a,
.media-full audio,
.media-full img,
.media-full video {
    display: block;
    height: auto;
    width: 100%
}

.modal-lg .modal-body img {
    max-width: 868px
}

.modal-body audio,
.modal-body img,
.modal-body video {
    display: block;
    margin: 0 auto
}

.list-modal,
.modal-body .list-delete {
    max-height: 100px;
    overflow: auto
}

.list-delete ul {
    margin: 0;
    padding-left: 20px
}

.navbar-nav .fa {
    font-size: 16px
}

.dropdown>a:hover+ul,
.dropdown>ul:hover {
    display: block
}

.navbar-nav .active-icon>a>.fa:first-child {
    color: #337cb7
}

.nav-secondary {
    margin-bottom: 20px
}

.nav-secondary .btn {
    margin-right: 5px
}

.nav-secondary.nav-right .btn {
    margin-left: 5px;
    margin-right: auto
}

.nav-secondary .pull-right {
    margin-right: 0
}

.nav-right {
    text-align: right
}

.nav-secondary::after {
    clear: both;
    content: '';
    display: block
}

.nav-tabs>li>a {
    padding: 8px 15px
}

.nav-rich {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap
}

.nav-rich button {
    display: none
}

.nav-rich .active button,
.nav-rich .tab-create button {
    display: inline-block
}

.nav-rich li {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 110px;
    overflow: hidden
}

.nav-rich li a {
    height: 44px;
    overflow: hidden;
    text-overflow: clip
}

.nav-rich li.active {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    max-width: 150px
}

.nav-rich .tab-static {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    min-width: 70px
}

.nav-rich .tab-create {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-left: auto;
    padding: 5px 3px 5px 5px;
    width: 45px
}

.navbar-logo {
    float: left;
    height: 51px;
    font-size: 18px;
    line-height: 20px
}

.panel .alert {
    margin-bottom: 10
}

.panel-body h2 {
    margin: 0
}

.panel-dashboard>.panel-footer {
    text-align: right
}

.panel-footer.form-inline {
    overflow: hidden
}

.panel-footer.form-inline input {
    width: 45px
}

.panel-footer.form-inline label {
    font-weight: 400
}

.panel-default>.panel-body+.panel-heading,
.panel-default>.table+.panel-heading {
    border-top: 1px solid #ddd
}

.panel-heading {
    position: relative
}

.panel-heading>h2+.btn {
    position: absolute;
    right: 3px;
    top: 3px
}

.panel .nav {
    background: #f5f5f5
}

.panel .nav a {
    border-top-color: transparent
}

.panel .nav li:first-child a {
    border-left-color: transparent
}

.panel-heading.collapsable:hover {
    cursor: pointer
}

.panel-heading.collapsable::before {
    float: left
}

.panel .tab-pane {
    min-height: 280px
}

.panel .tab-pane .label {
    display: inline-block;
    margin-bottom: 10px
}

.tab-fixed {
    height: 386px;
    overflow: auto
}

.tab-fixed-short {
    height: 241px;
    overflow: auto
}

.panel-simple {
    padding-left: 20px;
    border-bottom: 1px solid #ddd
}

.panel-simple:last-child {
    border: 0
}

.panel-simple>div:first-child label {
    margin-left: -20px;
    font-weight: 700
}

.panel-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.panel-scroll {
    min-height: 281px;
    overflow: auto;
    white-space: nowrap
}

.panel-sequence {
    display: inline-block;
    min-height: 250px;
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 160px;
    white-space: normal;
    vertical-align: top;
    border: 2px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: all .25s ease
}

.panel-sequence .img-thumbnail {
    display: block;
    height: auto;
    margin-right: 20px;
    width: 150px;
    line-height: 100px;
    text-align: center
}

.panel-sequence .img-thumbnail img {
    height: auto;
    max-height: 100px;
    width: 100%
}

.panel-sequence .fa-3x {
    margin-right: 5px;
    font-size: 1em
}

.panel-sequence:hover {
    background-color: #d9edf7;
    border-color: #d9edf7
}

.panel-sequence.selected {
    background-color: #d9edf7;
    border-color: #5bc0de
}

.panel-sequence.current {
    background-color: #dff0d8;
    border-color: #5cb85c
}

.panel-sequence.current.selected {
    border-color: #5bc0de
}

.panel-sequence ul {
    list-style: none;
    margin: 10px 0;
    padding: 0
}

.panel-seq-list ul {
    display: none;
    list-style: disc inside;
    padding: 15px 5px 10px;
    margin: 0;
    background: #ddd;
    border-radius: 4px
}

.panel-seq-list {
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.panel-seq-list .badge {
    left: -5px;
    position: absolute;
    top: -7px;
    background-color: #f0ad4e
}

.panel-seq-list .badge:hover+ul,
.panel-seq-list ul:hover {
    display: block
}

.badge-classified {
    position: absolute;
    right: -5px;
    top: -7px;
    background-color: #5cb85c
}

.badge-approved {
    position: absolute;
    right: -5px;
    top: -7px;
    background-color: #337cb7
}

.badge-bboxes-classified {
    position: absolute;
    right: 25px;
    top: -7px;
    background-color: #5cb85c
}

.badge-bboxes-approved {
    position: absolute;
    right: 25px;
    top: -7px;
    background-color: #337cb7
}

.panel-name {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis
}

.table td:first-child,
.table th:first-child {
    padding-left: 15px
}

.table td:last-child,
.table th:last-child {
    padding-right: 15px
}

.table-form td:first-child,
.table-form th:first-child {
    padding-left: 0
}

.table-form td:last-child,
.table-form th:last-child {
    padding-right: 0
}

.table.table-rich th {
    text-align: left
}

.table.table-rich>tbody>tr>td {
    vertical-align: middle
}

.table.table-rich>tbody>tr.selected>td {
    background-color: #d9edf7
}

.table.table-rich>tbody>tr:nth-child(2n).selected>td {
    background-color: #e4f2f9
}

.ng-table th.sortable.sort-asc,
.ng-table th.sortable.sort-desc,
.table.table-rich>tbody>tr.selected:hover>td {
    background-color: #cee9f5
}

.table.table-rich td:last-child {
    white-space: nowrap
}

.table .alert {
    text-align: center
}

.table .img-thumbnail {
    display: block;
    height: auto;
    margin-right: 20px;
    width: 146px;
    line-height: 100px;
    text-align: center
}

.table .img-thumbnail img {
    height: auto;
    width: 100%
}

.table-list:not(:last-of-type)::after {
    content: ', '
}

.table-rich .img-thumbnail,
a[ng-click],
a[ng-href] {
    cursor: pointer
}

table.tab-pane.active {
    display: table;
    margin-bottom: 0
}

.table pre {
    margin: 0;
    padding: 5px;
    white-space: normal
}

.table span+span {
    margin-right: 5px
}

.table .label {
    display: inline-block;
    margin: 0 0 0 5px
}

.btn-log+div[data-title] {
    display: none
}

.table .tags-list {
    max-width: 300px
}

.fixed-text,
.fixed-text-long,
.fixed-text-short {
    display: inline-block;
    width: 200px
}

.fixed-text-short {
    width: 100px
}

.fixed-text-long {
    width: 300px
}

.table .tags-list .label {
    display: inline-block;
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.select2,
.select2-container,
.select2-tokens {
    width: 100%
}

.select2-default+.btn {
    margin-top: 10px
}

.select2-search .select2-input,
.select2-search input {
    padding: 6px 12px;
    background: #fff
}

.select2-drop {
    box-shadow: 0 4px 8px rgba(51, 124, 183, .6)
}

.select2-container .select2-choice .select2-arrow b {
    text-align: center;
    background: 0 0
}

.select2-container .select2-arrow b::before {
    content: "\f107";
    display: inline-block;
    margin-top: 10px;
    font: normal normal 16px/1 FontAwesome;
    color: #ccc
}

.select2-dropdown-open .select2-arrow b::before {
    content: "\f106"
}

.select2-search-choice-close {
    margin-top: -8px;
    background: 0 0
}

.select2-search-choice-close::before {
    content: "\f00d";
    display: inline-block;
    font: normal normal 16px/1 FontAwesome
}

.select2-results .select2-disabled {
    display: none
}

.wysihtml5-sandbox {
    transition-duration: .25s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease
}

.wysihtml5-sandbox.focused {
    border-color: #66afe9!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(51, 124, 183, .6)!important
}

.input-daterange .input-group-addon {
    width: 1%
}

.input-daterange input:first-child {
    border-radius: 4px 0 0 4px
}

.input-daterange input:last-child {
    border-radius: 0 4px 4px 0
}

.datepicker {
    padding: 5px
}

.datepicker .clear {
    color: #d9534f;
    transition: background-color .25s ease
}

.datepicker td {
    transition: background-color .25s ease
}

.datepicker table tr td.today,
.datepicker table tr td.today.range,
.datepicker table tr td.today.range.today,
.datepicker table tr td.today.range.today:hover,
.datepicker table tr td.today.range.today:hover:hover,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover {
    background-color: #5cb85c;
    color: #fff
}

.avatar-big {
    width: 90px!important;
    height: 90px!important;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    -moz-border-radius: 70px;
}

.avatar-small {
    width: 50px!important;
    height: 50px!important;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
}

.dropdown-menu>.disabled {
    cursor: not-allowed;
}

.dropdown-menu>.disabled>a {
    pointer-events: none;
}

.alert-danger ul {
    list-style: none;
    padding-left: 0;
}

.modal-wide {
    width: 80%;
}

.modal-xwide {
    width: 90%;
}

.language-container {
    margin-top: 15px;
}

.language-select-container {
    color: white;
    border: 0;
    outline: 0;
    background: transparent;
    border-image: none;
    outline-offset: -2px;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
    -webkit-appearance: none;
}
  
input[type=number] {
    max-width: 80px;
}

.video-js .vjs-time-control {
    display: block;
}
.video-js .vjs-remaining-time {
    display: none;
}
