{% extends "leaflet_storage/base.html" %}

<script>
    if(global === undefined) {
        var global = window;
    }
    global['Translations'] = {% load_frontend_translations LANGUAGE_CODE|escapejs %};
</script>

{% load umap_tags %}
{% load static %}

{% block title %}{{ map.name }}{% endblock %}
{% block body_class %}map_detail{% endblock %}

{% block header %}
    {{ block.super }}
    {% umap_tags %}
    {% umap_js locale=locale %}

    <link type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}"  media="all" rel="stylesheet" />
    <link type="text/css" href="{% static "font-awesome/css/font-awesome.css" %}"  media="all" rel="stylesheet" />
    <script type="text/javascript" src="{% static "jquery/jquery-3.4.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.deserialize.min.js" %}"></script>
    <script type="text/javascript" src="{% static "geomap/js/leaflet.storage.monkey_patches.js" %}"></script>
    <script type="text/javascript" src="{% static "geomap/js/filterlocationscontrol.js" %}"></script>
    <script type="text/javascript" src="{% static "geomap/js/trappermarkercontrol.js" %}"></script>
    <script type="text/javascript" src="{% static "geomap/js/geomap.js" %}"></script>


    <script type="text/javascript" src="{% static "utk/utk.min.js" %}"></script>
    <script type="text/javascript" src="{% static "list/js/list.min.js" %}"></script>
    <link type="text/css" href="{% static "geomap/css/geomap.css" %}"  media="all" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "storage/contrib/css/storage.ui.default.css" %}" />
    <link rel="stylesheet" href="{% static "umap/umap.css" %}" />

    <script type="text/javascript">
      var object = "{{ object }}";
    </script>

{% endblock %}

{% block content %}
    {% block map_init %}
        {% include "leaflet_storage/map_init.html" %}
    {% endblock %}
    {% include "leaflet_storage/map_messages.html" %}
{% endblock %}
