{% extends "admin/base_site.html" %}

{% load i18n grp_tags admin_urls %}

{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
        <li><a href="{% url 'admin:app_list' app_label='storage' %}">{% trans "Storage" %}</a></li>
        <li><a href="{% url 'admin:storage_resource_changelist' %}">{% trans "Resources" %}</a></li>
        <li>{{ title }}</li>
    </ul>
{% endblock %}

{% block extrastyle %}
    <style>
        .grp-list {
            padding: 5px 10px 4px;
        }
        .grp-list li {
            font-weight: bold;
        }
        .clear-both {
            clear: both;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>{% trans "You are going to update " %}<strong>{{ queryset|length }}</strong> {% trans "resources." %}</h2>
    <form action="." method="post">
      {% csrf_token %}
      <div class="g-d-c">
        <div class="grp-group">
          <h2>{% trans "Set owner and managers" %}:</h2>
          <fieldset class="grp-module wide">
            <div class="grp-row grp-cells-1 {% if form.owner.errors %} grp-errors{% endif %}">
              <div class="l-2c-fluid l-d-4">
                <div class="c-1"><label for="id_subject">{% trans "Owner" %}</label></div>
                <div class="c-2">{{ form.owner }}</div>
              </div>
            </div>
            <div class="grp-row grp-cells-1 {% if form.managers.errors %} grp-errors{% endif %}">
              <div class="l-2c-fluid l-d-4">
                <div class="c-1"><label for="id_text">{% trans "Managers" %}</label></div>
                <div class="c-2">{{ form.managers }}</div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="grp-module grp-submit-row grp-fixed-footer">
        <ul>
          <li class="grp-float-left"><a href="./" class="grp-button grp-cancel-link">{% trans "Cancel" %}</a></li>
          <li><input type="submit" value="Submit" class="grp-button grp-default" /></li>
        </ul>
        {% for obj in queryset %}
        <input type="hidden" name="_selected_action" value="{{ obj.pk }}" />
        {% endfor %}
        <input type="hidden" name="action" value="set_owner_managers_action">
        <input type="hidden" name="do_action" value="yes">
      </div>
    </form>
{% endblock content %}
