{% load crispy_forms_tags i18n%}

<div class="form-group">
  {{ projectrole_formset.management_form }}
  <table id="table-formset" class="table table-form" data-name="project_roles">
    <thead>
      <th>{% trans "Username" %}</th>
      <th>{% trans "Role" %}</th>
      <th><span class="pull-right">{% trans "Action" %}</span></th>
    </thead>
    <tbody>
      {% for form in projectrole_formset.forms %}
      <tr>
        <td>
          {{ form.id }}
          {{ form.user|as_crispy_field }}
        </td>
        <td>{{ form.name|as_crispy_field }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-remove-row pull-right">
            <span class="fa fa-remove"></span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
	<td colspan="100%">
	  <button type="button" class="btn btn-success btn-add-row pull-right">
	    <span class="fa fa-plus"></span>
	  </button>
	</td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="hidden">
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr id="dynamic-form-row-template">
        {% with projectrole_formset.empty_form as form_template %}
        <td>
          {{ form_template.id }}
          {{ form_template.user|as_crispy_field }}
        </td>
        <td>{{ form_template.name|as_crispy_field }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-remove-row pull-right">
            <span class="fa fa-remove"></span>
          </button>
        </td>
	{% endwith %}
      </tr>
    </tbody>
  </table>
</div>
