{% load crispy_forms_tags %}

{% load i18n %}

{% if researchproject.pk %}
  {% url 'research:project_update' researchproject.pk as research_url %}
{% else %}
  {% url 'research:project_create' as research_url  %}
{% endif %}

<form action="{{ research_url }}" method="post" class="panel-body">
  {% crispy form form.helper  %}
  <fieldset>
    <button type="submit" class="btn btn-primary">
      {% if researchproject %}{% trans "Update" %}{% else %}{% trans "Add" %}{% endif %} {% trans "research project" %}
    </button>
  </fieldset>
</form>
